/**
 * Created by RTT.
 * Author: teocci@yandex.com on 2022-10ì›”-17
 */
.panel-holder {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    height: 100%;
    width: 100%;
    position: relative;
    color: rgb(204, 204, 220);
    background-color: #181b1f;
    border: 1px solid #ccccdc12;
    border-radius: 3px;
    box-shadow: none;
}

.panel-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 5px;
    width: 100%;
    height: 2rem;
    line-height: 32px;
    font-weight: 500;
    border: 0;
}

.panel-header:hover {
    background-color: #ccccdc29;
    transition: background-color .1s ease-in-out
}

.panel-header h2 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: calc(100% - 38px);
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    margin: 0;
}

.header-menu {
    display: inline-block;
    height: 19px;
    width: 0;
}

.header-menu-item.toggle {
    position: absolute;
    visibility: hidden;
    cursor: pointer;
    top: 0;
    color: #ccccdca6;
    opacity: 0;
}

.panel-holder:hover .header-menu-item.toggle {
    visibility: visible;
    transition: opacity .1s ease-in .2s;
    opacity: 1;
}

.header-menu-item.toggle:hover {
    color: #fff
}