/**
 * Created by RTT.
 * Author: teocci@yandex.com on 2022-9월-06
 */

.modal-outside {
    background: rgba(0, 0, 0, 0.5);
    /* background: transparent; */
    /* position: absolute; */
    position: fixed;
    z-index: 9; /* .modal[zIndex] - 1 */
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

.modal-wrapper:not(.hidden) ~ .modal-outside {
    display: block;
}

.modal-wrapper {
    position: absolute;
    top: calc(50vh - var(--modal-height) / 2);
    left: calc(50vw - var(--modal-width) / 2);
    width: var(--modal-width);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: var(--z-modal);
    background: var(--bg-white);
}

.modal-wrapper.hidden {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.modal-wrapper {
    opacity: 1;
}

.modal-wrapper section {
    width: var(--modal-width);
    z-index: calc(var(--z-modal) + 1);
}

.modal-wrapper .modal-header {
    cursor: move;
    user-select: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background: var(--main-color);
    color: var(--font-light-color);
    line-height: 2rem;
}

.modal-wrapper .modal-header .title {
    padding-left: 5px;
}

.modal-wrapper .modal-header .close {
    cursor: pointer;
    height: 2em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-wrapper .modal-content {
    max-height: calc(var(--modal-height) - 65px);
}

.field .label:not(.ender, .hidden)::after,
.fieldset .label:not(.ender, .hidden)::after {
    content: ':';
    padding-left: .5rem;
    padding-right: 1rem;
}

div.fieldset {
    display: flex;
    flex-flow: row nowrap;
}

div.fieldset .fieldset-content {
    display: flex;
    flex-flow: row nowrap;
}

.fieldset .fieldset-content > .field:not(:last-child, .hidden),
.fieldset .fieldset-content > .inline:not(:last-child, .hidden) {
    margin-bottom: .5rem;
}

.inline .fieldset-content > .field:not(:last-child) {
    margin-bottom: 0;
}

fieldset legend {
    font-size: 1rem;
    font-weight: bold;
    background: var(--bg-white);
}

.series table {
    width: 100%;
}

.series th {
    font-size: 1rem;
    text-align: left;
}

.series td {
    white-space: nowrap
}

.series td .field input:not([type='number']),
.series td .field select {
    width: 100%;
}

.field input[type='number'] {
    max-width: 3rem;
}

.series td .field input[type='color'] {
    width: 3rem;
}
.series td .field select {
    min-width: 5rem;
 }

.series .actions {
    display: flex;
    flex-flow: row nowrap;
    min-width: 8rem;
    width: 100%;
}

.series .actions .action {
    margin-right: .5rem;
}

.series .actions .action:has(.fa-square-plus) {
    display: none;
}

.series tr:last-child .actions .action:has(.fa-square-plus) {
    display: block;
}

.series tr:nth-child(n+10) .actions .action:has(.fa-square-plus) {
    display: none;
}

.file-input {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 0 !important;
}

.file-input .file-info {
    margin-left: .5rem;
}

.file-input input::file-selector-button {
    visibility: hidden;
}

.file-input .file-btn {
    background: var(--main-color);
    color: var(--font-light-color);
    border: 0;
    border-radius: 3px;
    font-size: .75rem;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    padding: 0 .375rem;
    margin: 1px 0 .375rem;
    line-height: 1.5rem;
    transition: ease 0.2s, background;
    cursor: pointer;
    user-select: none;
}

.file-input .file-btn:hover {
    background: var(--main-contrast-color);
}

.file-input .file-btn i {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}