/**
 * Created by RTT.
 * Author: teocci@yandex.com on 2022-9월-06
 */

.modal-outside {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: var(--z-modal-outside);
    background: rgba(0, 0, 0, 0.5);
}

.modal-wrapper:not(.hidden) ~ .modal-outside {
    display: block;
}

.modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: var(--modal-width);
    top: calc(50vh - var(--modal-height) / 2);
    left: calc(50vw - var(--modal-width) / 2);
    z-index: var(--z-modal);
    background: var(--bg-white);
}

.modal-wrapper.hidden {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.modal-wrapper {
    opacity: 1;
}

.modal-wrapper section {
    width: var(--modal-width);
    z-index: calc(var(--z-modal) + 1);
}

.modal-wrapper .modal-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background: var(--main-color);
    color: var(--font-light-color);
    line-height: 2rem;
    cursor: move;
    user-select: none;
}

.modal-wrapper .modal-header .title {
    padding-left: 5px;
}

.modal-wrapper .modal-header .close {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 2em;
    cursor: pointer;
}

.modal-wrapper .modal-content {
    max-height: calc(var(--modal-height) - 65px);
}