/**
 * Created by RTT.
 * Author: teocci@yandex.com on 2022-10ì›”-14
 */

.widget-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.widget-content {
    width: 100%;
    height: 100%;
}